@import "tailwindcss";

@theme {
  /* 🌞 Tema Claro */
  --color-primary: #2563eb;
  --color-secondary: #14b8a6;
  --color-accent: #0ea5e9;

  --color-background: #f9fafb;
  --color-surface: #ffffff;
  --color-panel: #f1f5f9;

  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-muted: #64748b;
  
  --color-selected: #e2e8f0;
  
  --color-block: #ededed;
  --color-block-dark: #101828;

  --color-border: #e2e8f0;
  --color-divider: #cbd5e1;

  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
  --color-info: #3b82f6;

  --shadow-elevation: 0 4px 12px rgba(0, 0, 0, 0.08);
}
/* Ocultar scrollbar */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}